.MuiSelect-select {
  color: rgb(0, 0, 0) !important;
  background-color: rgba(241, 241, 241, 0.655) !important;
}

/* .MuiInputLabel-root.MuiInputLabel-formControl {
  font-family: "IBM Plex Sans" !important;
  font-weight: 1000;
  font-size: 20px !important;
  color: rgb(74, 74, 74) !important;
  left: 0px !important;
} */

.MuiPaper-root {
  background-color: transparent !important;
}
.MuiList-root {
  color: rgb(59, 59, 59);
}

.MuiMenuItem-root {
  font-family: "IBM Plex Mono" !important;
  font-size: 16px !important;
}

.MuiSelect-select {
  font-family: "IBM Plex Mono" !important;
  font-size: 16px !important;
  color: rgb(59, 59, 59) !important;
}
