.user-icon {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-style: "Inter";
  font-weight: bold;
  color: #7d7d7d;
  padding: 30px;
  align-items: center;
}

.user-icon img {
  height: 90px;
  width: 90px;
  object-fit: contain;
}

.userIconMedium {
  height: 256px;
  object-fit: contain;
}

.userIconAvatar {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.normalAvatar {
  width: 200px;
  height: 200px;
}

.mediumAvatar {
  width: 256px;
  height: 256px;
}

.mediumAvatarCaption {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-style: "Inter";
  font-weight: bold;
  color: #7d7d7d;
  align-items: center;
}
