div {
    border: 1px solid blue;
}

span {
    border: 1px solid red;
}

.header {
  display: flex;
}

.dashboard {
  display: flex;
}

.dashboardLeft {
  display: flex;
  flex-direction: column;
}

.dashboardDivider {
  width: 150px;
}

.dashboardRight {
  display: flex;
  flex-direction: column;
}

.dashboardMenu {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 0;
}

.userIconContainer {
  display: flex;
  justify-content: center;
}

.storiesNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.storiesDisplay {
  width: 600px;
  display: flex;
  text-align: justify;
}

.buttonStyle {
  width: 310px;
  height: 60px;
  color: #ededed;
  background-color: #292929;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  border: none;
  font-weight: bolder;
  font-size: 14px;
}

.buttonStyle:hover {
  cursor: pointer;
}

.userIconContainer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
