.header {
    display: flex;
}

.leaderboard-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.leaderboard-story {
    margin-left: 10%;
    text-align: left;
}

.leaderboard-story-title {
    font-family: "Inter";
    font-size: 40px;
    padding-bottom: 20px;
    color: #808080;
}

.leaderboard-story-start {
    font-family: "Inter";
    font-size: 20px;
    font-style: italic;
    max-width: 800px;
    color: #808080;
    padding-bottom: 25px;
}

.leaderboard-story-contribution {
    font-family: "Inter";
    font-size: 20px;
    max-width: 800px;
    line-height: 1.5;
    color: #808080;
    padding-bottom: 25px;
}

.leaderboard-scoreboard {
    margin-right: 10%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-message {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10%;

    font-family: "Inter";
    font-size: 23px;
    max-width: 600px;
    color: #808080;

    background-color: #d6d6d6;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-button {
    margin-right: 10%;
}
  
