.user-input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-login-text {
    font-family: "Inter";
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 10px;
}