.header {
  display: flex;
}
.lobby-header {
  font-size: 56px;
  font-style: "Inter";
  font-weight: bolder;
  padding-bottom: 50px;
  color: #363636;
}
.lobby-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lobby-players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 490px;
  height: 400px;
  margin: 0 auto;
}

.lobby-genre {
    position: absolute;
    top: 300px;
    right: 300px;
}

.buttonStyle {
  color: #ededed;
  background-color: #292929;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  border: none;
  font-weight: bolder;
  font-size: 20px;
}

.buttonStyle:hover {
  background-color: #292929;
  color: #989494;
  cursor: pointer;
}
